@charset "UTF-8";

body {
	background: #eef1f7;
	font-family: Arial, sans-serif;
}

.todo-box {
	max-width: 700px;
	margin: 40px auto;
	background: white;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.table td, .table th {
	vertical-align: middle;
}